<div id="header">
    <nav>
        <img src="{{ site.baseurl }}/public/assets/images/profile_logo.jpeg" class="logo">
        <ul id="sidemenu">
            <li><a href="{{ site.baseurl }}/#header">Home</a></li>
            <li><a href="{{ site.baseurl }}/#about">About</a></li>
            <li><a href="{{ site.baseurl }}/#services">Services</a></li>
            <li><a href="{{ site.baseurl }}/#mywork">My Work</a></li>
            <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
            <i class="fas fa-times close-icon" onclick="closemenu()"></i>
        </ul>
        <i class="fas fa-bars" onclick="openmenu()"></i>
    </nav>
</div>
