 <!--------- contact------------ -->
                                                    
 <div id="icons__contact">
    <a href="https://twitter.com/Kibet_ArapKoech" target="_blank" rel="noopener noreferrer">
        <img src="images/ctwitter.svg"class="icons">
        <span class="label">Twitter</span>
    </a>
    <a href="https://github.com/BryanArapKoech" target="_blank" rel="noopener noreferrer">                                   
        <img src="images/cgithub.svg"class="icons">
        <span class="label">Github</span>
    </a>
    <a href="https://medium.com/@bryankibet77" target="_blank" rel="noopener noreferrer">
        <img src="images/crss.svg"class="icons" >
        <span class="label">Medium</span>
    </a>
    <a href="mailto:bryankibet77@gmail.com" target="_blank" rel="noopener noreferrer">
        <img src="images/cemail.svg" class="icons">
        <span class="label">Email</span>
    </a>
</div>
<div class="buttons_wrap">
    <a href="BrianKibet_CV.pdf" download="BrianKibet_CV.pdf" class="download-text">Download CV</a>
    </a>
</div>    