 <!-- --------------------Nav Bar ------------------------------------>
    
 <div id="header">
    <nav>
<img src="images/profile_logo.jpeg" class="logo">
<ul id="sidemenu">
    <li><a href="#header">Home</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#services">Services</a></li>
    <li><a href="#my work">My Work</a></li>
    <li><a href="blog.html">Blog</a></li>
        
<i class="fas fa-times close-icon" onclick="closemenu()"></i>
    </ul>
<i class="fas fa-bars" onclick="openmenu()"></i>
</nav>


</div>