<!-------------------------------My Services--------------------------- -->
<div id="services">
    <div class="container">
            <h1 class="ctitle">My Services</h1> 
            <p>I build things. Web apps, backend systems, automation pipelines, and words that make sense of it all.</p>
  
        <div class="stack-container">
                <p class="service-intro">My stack:</p>
            <div class="stack-item">
                <span class="emoji">🛠</span> 
                Languages - HTML5, CSS3, Python, JavaScript (ES6), SQL
            </div>
            <div class="stack-item">
                <span class="emoji">🚀</span> 
                Frameworks - React, Next.js, Django, Django REST framework, Bootstrap5, TailwindCSS, Material UI
            </div>
            <div class="stack-item">
                <span class="emoji">🔗</span>
                 Tools - Git, GitHub/GitLab, AWS, Heroku, Netlify
            </div>
            <div class="stack-item">
                <span class="emoji">🗄</span> 
                Databases - MySQL, MongoDB, PostgreSQL
            </div>
            <div class="stack-item">
                <span class="emoji">🔬</span> 
                Testing - Automation (Robot Framework and Manual Testing)
            </div>
            <div class="stack-item">
                <span class="emoji">📝</span>
                 Technical Writing
            </div>
        </div>
  
  <p class="service-intro">This is what I do best:</p>
  
        <div class="services-list">
            <div class="service-item">
                <i class="fa-solid fa-code"></i>
                    <h2>Web Design & Development</h2>
                    <p>Crafting visually appealing and responsive websites tailored to your needs using modern technologies like 
                        HTML, CSS, JavaScript, and frameworks like React and Django.</p>
            </div>
            <div class="service-item">
            <i class="fa-solid fa-paint-brush"></i>
                <h2>UI/UX Design</h2>
                <p>Designing intuitive, compelling and engaging user interfaces with a focus on enhancing user experience while maintaining functionality.</p>
            
            </div>
            <div class="service-item">
                <i class="fa-solid fa-laptop-code"></i>
                <h2>Custom Application Development</h2>
                <p>Building tailored software applications to meet business needs.</p>
            
            </div>
            <div class="service-item">
                <i class="fa-solid fa-cart-shopping"></i>
                <h2>E-commerce Solutions</h2>
                <p>Developing secure and scalable online stores. I help businesses set up online stores using platforms like Shopify, WooCommerce, 
                    and custom-built e-commerce solutions.</p>
            
            </div>
            <div class="service-item">
                <i class="fa-solid fa-plug"></i>
                <h2>API Development & Integration</h2>
                <p>Creating and integrating RESTful and GraphQL APIs for better data exchange, application interoperability, improved data flow, and system security.</p>
            
            </div>
            <div class="service-item">
                <i class="fa-solid fa-server"></i>
                <h2>DevOps & Deployment Automation</h2>
                <p>Automating workflows, CI/CD pipelines, and cloud deployments for continuous integration, automated testing, and cloud deployment with AWS, 
                    Azure, and Docker for optimized software delivery.</p>
            
            </div>
        </div>
    </div>
</div>