<!-- ---------------------------My Work---------------------------------------- -->


<div id="my work">
    <div class="container">
        <div>
            <h1 class="ctitle">My Work</h1>
        </div>
        <p>I love teaching. I try to explore new ideas and think from first principles . I am passionate about driving positive change through Innovation and Technology. 
            Here, I share projects, writings and experiments - things I build, break, and learn from. 
            I also post thoughts- some structured, some spontaneous, some random, many inspired by people such as 
            <a href="https://levels.io/blog/" target="_blank" rel="noopener noreferrer">Levelsio</a>, 
            <a href="https://karpathy.github.io/" target="_blank" rel="noopener noreferrer">Andrej Karpathy</a>, 
            <a href="https://www.paulgraham.com/articles.html" target="_blank" rel="noopener noreferrer">Paul Graham</a> and 
            <a href="https://blog.samaltman.com/" target="_blank" rel="noopener noreferrer">Sam Altman</a>.
            
            I try to sample and explore ideas that spark curiosity and challenge the status quo.</p>
        <!----------------- Projects ---->
        <div id="pet-projects">
            <div class="ctitle">Projects</div>
            <p>For me, code is an evolving process - I build, break, I iterate and refine.</p>
            <div class="project">
                <div class="project-pic"><img src="images/spacex.webp" /></div>
                <div class="pdesc"><a href="https://github.com/BryanArapKoech/Project-Rendezvous" target="_blank" rel="noopener noreferrer">SpaceX Launch dataset analysis<a>. 
                    Using material from Coursera, I tried to predict if SpaceX will reuse the first stage (if the first stage will land successfully) and the cost of the landing. 
                    This is achieved by training a machine learning model using public data/information about SpaceX webscrapped from 
                    <a href="https://en.wikipedia.org/wiki/List_of_Falcon\_9\_and_Falcon_Heavy_launches" target="_blank" rel="noopener noreferrer">public data from Wikipedia</a>.</div>
                <div class="pend"></div>
            </div>
            <div class="project">
                <div class="project-pic"><img src="images/creditf.PNG" /></div>
                <div class="pdesc"><a href="https://github.com/BryanArapKoech/Credit-Fraud" target="_blank" rel="noopener noreferrer">Detect Credit Fraud <a>. 
                    I try to predict credit fraud using SVM, KNN, XGboost, Tree classifier models. 
                    The <a href="https://www.kaggle.com/datasets/mlg-ulb/creditcardfraud?resource=download" target="_blank" rel="noopener noreferrer">Dataset<a> 
                        consists of genuine bank transactions conducted by cardholders in Europe in 2013</a>.</div>

                <div class="pend"></div>
            </div>
        </div>
        
            <div style="background-color: #080808; padding-top: 1px; padding-bottom: 30px;">
                <div class="ctitle">Featured writing</div> 
                <!---- Writings ----->
                    <ul class="nodot">
                        <li>December 2022<a href="https://medium.com/@bryankibet77/a-gentle-introduction-to-the-internet-of-things-iot-d20f3841fc84" target="_blank" rel="noopener noreferrer">  A beginner-friendly dissection of the key components, applications, and implications of IoT.</a></li>
                        <li>October 2022<a href="https://medium.com/@bryankibet77/what-really-is-artificial-intelligence-machine-learning-and-deep-learning-ff36849870d4" target="_blank" rel="noopener noreferrer">  I try to demystify the landscape of Artificial Intelligence, Machine Learning, and Deep Learning.</a></li>
                        
                    </ul>
                
            </div>
    </div>
</div>