<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - Brian Kibet</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script src="https://kit.fontawesome.com/56bf1872c9.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- --------------------Nav Bar ------------------------------------>
    <div id="header">
        <nav>
            <img src="{{ site.baseurl }}/public/assets/images/profile_logo.jpeg" class="logo">
            <ul id="sidemenu">
                <li><a href="{{ site.baseurl }}/#header">Home</a></li>
                <li><a href="{{ site.baseurl }}/#about">About</a></li>
                <li><a href="{{ site.baseurl }}/#services">Services</a></li>
                <li><a href="{{ site.baseurl }}/#my work">My Work</a></li>
                <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
                <i class="fas fa-times close-icon" onclick="closemenu()"></i>
            </ul>
            <i class="fas fa-bars" onclick="openmenu()"></i>
        </nav>
    </div>

    <!-- Content Placeholder -->
    {{ content }}

    <footer>
        <div id="copyright">
            <div class="copyright">
                <p style="text-align: center;">Copyright &copy; {{ site.time | date: '%Y' }} Brian Kibet. All Rights Reserved</p>
            </div>
        </div>
    </footer>

   
<script>
    function openmenu() {
        console.log("Opening menu");
        document.getElementById("sidemenu").style.right = "0";
        document.body.style.overflow = "hidden";
    }
    function closemenu() {
        console.log("Closing menu");
        document.getElementById("sidemenu").style.right = "-200px";
        document.body.style.overflow = "auto";
    }
    document.addEventListener("DOMContentLoaded", function () {
        const menuItems = document.querySelectorAll("#sidemenu li a");
        menuItems.forEach(item => {
            item.addEventListener("click", closemenu);
        });
        window.addEventListener("resize", function () {
            if (window.innerWidth > 768) {
                closemenu();
            }
        });
    });
</script>


</body>
</html>